﻿@model SystemEgzaminacyjny.Service.ViewModels.Question.QuestionListViewModel

@{
	var removeOptions = new AjaxOptions
	{
		HttpMethod = "post",
		OnSuccess = "removeObject"
	};
}

<h2>@Html.MvcSiteMap().SiteMapTitle()</h2>

<p>
	@Html.ActionLink("Dodaj nowe", "Create", new { examId = Model.Id }, new { @class = "btn btn-success" })
</p>

<table class="table">
    <tr>
        <th>Pytanie</th>
		<th></th>
    </tr>

@foreach (var item in Model.List) {
    <tr>
		<td>
			@Html.DisplayFor(model => item.Content)
		</td>

		<td class="text-nowrap">
			@Html.ActionLink("Edytuj", "Edit", new { id = item.Id, examId = Model.Id }, new { @class = "btn btn-default" })
			@Html.ActionLink("Odpowiedzi", "List", "Answer", new { questionId = item.Id, examId = Model.Id }, new { @class = "btn btn-default" })
			@using (Ajax.BeginForm("Delete", new { id = item.Id, examId = Model.Id }, removeOptions, new { style = "display: inline;" }))
			{
				<button class="btn btn-danger" data-toggle="confirmation" data-title="Czy napewno chcesz usunąć te pytanie?"
						data-btn-ok-class="btn-sm btn-danger" data-btn-ok-label="Tak" data-btn-cancel-class="btn-sm btn-default" data-btn-cancel-label="Nie" data-singleton="true" data-popout="true">
					Usuń
				</button>
			}
		</td>
    </tr>
}

</table>
