﻿@model SystemEgzaminacyjny.Service.ViewModels.Enrollment.EnrollmentCreateViewModel

<h2>@Html.MvcSiteMap().SiteMapTitle()</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ExamId)
		@Html.HiddenFor(model => model.UserId)
		
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz się" class="btn btn-default" />
            </div>
        </div>
    </div>
}
