﻿@model SystemEgzaminacyjny.Service.ViewModels.Enrollment.EnrollmentListViewModel

<h2>@Html.MvcSiteMap().SiteMapTitle()</h2>

@using (Html.BeginForm("EditSelected_Post", "Enrollment"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.ExamId)

@for (int i = 0; i < Model.List.Count; i++)
{
	@Html.HiddenFor(model => model.List[i].Id)
	@Html.HiddenFor(model => model.List[i].UserId)
	@Html.HiddenFor(model => model.List[i].ExamId)
	@Html.HiddenFor(model => model.List[i].IsSelected)
}
        <div class="form-group">
            @Html.LabelFor(model => model.ExamDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExamDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExamDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
}
