﻿@model SystemEgzaminacyjny.Service.ViewModels.Enrollment.EnrollmentListViewModel

@{
	var removeOptions = new AjaxOptions
	{
		
		HttpMethod = "post",
		OnSuccess = "removeObject"
	};
}

<h2>@Html.MvcSiteMap().SiteMapTitle() dla egzaminu @Html.DisplayFor(model => Model.ExamTopic)</h2>

@Html.ActionLink("Zapisy bez ustalonej daty", "ListWithoutDate", new { examId = Model.ExamId }, new { @class = "btn btn-default" })
@using (Html.BeginForm("EditSelected", "Enrollment", new { examId = Model.ExamId }, FormMethod.Post, new { style = "display: inline;" }))
{
	<input type="submit" value="Edytuj zaznaczone" class="btn btn-default" />
<h2></h2>
<table class="table">
    <tr>
		<th><input id="selectAll" type="checkbox" /></th>
		<th>Id</th>
		<th>Użytkownik</th>
        <th>Data egzaminu</th>
        <th></th>
    </tr>

@for (int i = 0; i < Model.List.Count; i++)
{
	@Html.HiddenFor(model => model.List[i].Id)
	@Html.HiddenFor(model => model.List[i].UserId)
	@Html.HiddenFor(model => model.List[i].ExamId)
    <tr>
		<td>
			@Html.EditorFor(model => model.List[i].IsSelected, new { @class = "checkbox" })
		</td>
		<td>
			@Html.DisplayFor(model => model.List[i].Id)
		</td>
		<td>
			@Html.DisplayFor(model => model.List[i].User.Email)
		</td>
        <td>
			@Html.DisplayFor(model => model.List[i].ExamDateString)
        </td>
        <td class="text-nowrap">
            @Html.ActionLink("Edytuj", "Edit", new { id = Model.List[i].Id, examId = Model.ExamId }, new { @class = "btn btn-default" })
			
			<button id="@Model.List[i].Id" class="btn btn-danger delete-link" data-toggle="confirmation" data-title="Czy napewno chcesz usunąć te zapisy?"
					data-btn-ok-class="btn-sm btn-danger" data-btn-ok-label="Tak" data-btn-cancel-class="btn-sm btn-default" data-btn-cancel-label="Nie" data-singleton="true" data-popout="true">
				Usuń
			</button>
        </td>
    </tr>
}
</table>
}
