﻿@model SystemEgzaminacyjny.Service.ViewModels.Enrollment.EnrollmentListViewModel

@{
	var removeOptions = new AjaxOptions
	{
		HttpMethod = "post",
		OnSuccess = "removeObject"
	};
}

<h2>@Html.MvcSiteMap().SiteMapTitle() dla egzaminu @Html.DisplayFor(model => Model.ExamTopic)</h2>

<table class="table">
	<tr>
		<th>Id</th>
		<th>Data egzaminu</th>
		<th>Godzina</th>
		<th></th>
	</tr>

	@foreach (var item in Model.List)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ExamDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ExamTime)
			</td>
			<td class="text-nowrap">
				@Html.ActionLink("Edytuj", "Edit", new { id = item.Id, examId = Model.ExamId }, new { @class = "btn btn-default" })
				@using (Ajax.BeginForm("Delete", new { id = item.Id, examId = Model.ExamId }, removeOptions, new { style = "display: inline;" }))
				{
					<button class="btn btn-danger" data-toggle="confirmation" data-title="Czy napewno chcesz usunąć te zapisy?"
							data-btn-ok-class="btn-sm btn-danger" data-btn-ok-label="Tak" data-btn-cancel-class="btn-sm btn-default" data-btn-cancel-label="Nie" data-singleton="true" data-popout="true">
						Usuń
					</button>
				}
			</td>
		</tr>
	}

</table>
