﻿@model SystemEgzaminacyjny.Service.ViewModels.Enrollment.ScoreViewModel

@{
    ViewBag.Title = "Wyniki";
}

<h2>Wyniki</h2>
<hr />

<h3 class="text-center">Udało Ci się osiągnąć @Model.Score%, gdzie @Model.PassThreshold% zalicza</h3>

@if (Model.IsPassed)
{
	<h3 class="text-success text-uppercase text-center">Wynik pozytywny</h3>
}
else
{
	<h3 class="text-warning text-uppercase text-center">Wynik negatywny</h3>
}