﻿@model SystemEgzaminacyjny.Service.ViewModels.Enrollment.EnrollmentListViewModel

@{	
	var enrollOptions = new AjaxOptions
	{
		HttpMethod = "post",
		OnSuccess = "removeObject"
	};
}

<h2>@Html.MvcSiteMap().SiteMapTitle()</h2>

<table class="table">
	<tr>
		<th>Egzamin</th>
		<th>Data egzaminu</th>
		<th></th>
	</tr>

	@foreach (var item in Model.List)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Exam.Topic)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ExamDateString)
			</td>
			<td class="text-nowrap">
				@if(!item.IsExamFinished)
				{
					using (Ajax.BeginForm("Create", "Enrollment", new { examId = item.ExamId }, enrollOptions, new { style = "display: inline;" }))
					{
						<button class="btn btn-warning" data-toggle="confirmation" data-title="Czy napewno chcesz wypisać się z tego egzaminu?"
								data-btn-ok-class="btn-sm btn-danger" data-btn-ok-label="Tak" data-btn-cancel-class="btn-sm btn-default" data-btn-cancel-label="Nie" data-singleton="true" data-popout="true">
							Wypisz się
						</button>
					}
				}
				else
				{
					@Html.ActionLink("Wyniki", "Score", "Enrollment", new { id = item.Id, examId = item.ExamId }, new { @class = "btn btn-success" })
				}
				@if (!item.IsExamInProgress)
				{
					<button class="btn btn-default disabled">Rozpocznij egzamin</button>
				}
				else
				{
					@Html.ActionLink("Rozpocznij egzamin", "GetQuestion", "Exam", new { id = item.Id }, new { @class = "btn btn-default" });
				}
			</td>
		</tr>
	}

</table>