﻿@model SystemEgzaminacyjny.Service.ViewModels.Answer.AnswerListViewModel

@{
	var removeOptions = new AjaxOptions
	{
		HttpMethod = "post",
		OnSuccess = "removeObject"
	};
}

<h2>@Html.MvcSiteMap().SiteMapTitle()</h2>

<p>
    @Html.ActionLink("Dodaj nową", "Create", new { questionId = Model.Id, examId = Model.ExamId }, new { @class = "btn btn-success" })
</p>

<table class="table">
    <tr>
        <th>Odpowiedź</th>
		<th>Poprawna?</th>
		<th></th>
    </tr>

@foreach (var item in Model.List) {
    <tr>
		<td>
			@Html.DisplayFor(model => item.Content)
		</td>
		<td>
			@if(item.Correct)
			{
			<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
			}
			else
			{
			<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
			}
		</td>

        <td class="text-nowrap">			
			@Html.ActionLink("Edytuj", "Edit", new { id = item.Id, questionId = item.QuestionId, examId = Model.ExamId }, new { @class = "btn btn-default" })
			@using (Ajax.BeginForm("Delete", new { id = item.Id, examId = Model.ExamId, questionId = item.QuestionId }, removeOptions, new { style = "display: inline;" }))
			{
				<button class="btn btn-danger" data-toggle="confirmation" data-title="Czy napewno chcesz usunąć tą odpowiedź?"
						data-btn-ok-class="btn-sm btn-danger" data-btn-ok-label="Tak" data-btn-cancel-class="btn-sm btn-default" data-btn-cancel-label="Nie" data-singleton="true" data-popout="true">
					Usuń
				</button>
			}
        </td>
    </tr>
}

</table>
