﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.MvcSiteMap().SiteMapTitle() - ExamS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ExamS", "List", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona główna", "List", "Home")</li>
                    <li>@Html.ActionLink("O systemie", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
					<li>@Html.ActionLink("Egzaminy", "List", "Exam")</li>
					<li>@Html.ActionLink("Twoje zapisy", "YourList", "Enrollment")</li>
                </ul>
                @{Html.RenderPartial("_LoginPartial");}
            </div>
        </div>
    </div>
    <div class="container body-content">
		<h5>@Html.MvcSiteMap().SiteMapPath()</h5>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - System egzaminacyjny</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
