﻿@model SystemEgzaminacyjny.Service.ViewModels.Exam.ExamViewModel

<h2>@Html.MvcSiteMap().SiteMapTitle()</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(m => m.Topic, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.Topic, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Topic, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Duration, new { @class = "col-md-2 control-label" })
			<div class="col-md-2">
				@Html.EditorFor(m => m.Duration, new { htmlAttributes = new { @class = "form-control" } })
			</div>
			<div class="col-md-2">
				@Html.Label("min", new { @class = "col-md-2 control-label" })
			</div>
			<div class="col-md-2">
				@Html.ValidationMessageFor(m => m.Duration, "", new { @class = "text-danger" })
			</div>
		</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}