﻿@model SystemEgzaminacyjny.Service.ViewModels.Exam.GetQuestionViewModel

@{
    ViewBag.Title = "Egzamin";
}

<h2>Egzamin</h2>
<p>Czas do końca egzaminu: <span data-countdown="@Model.RemainingTime" data-enrollment="@Model.Id"></span></p>
<p>Pozostało pytań: @Model.RemainingQuestions</p>

@using (Html.BeginForm("SaveUserAnswer", "Exam"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
		@Html.HiddenFor(model => model.QuestionId)
		
		<h4>Pytanie: @Model.Question.Content</h4>
		<table class="table-condensed">
			@for (int i = 0; i < Model.Answers.Count; i++)
			{
				@Html.HiddenFor(model => model.Answers[i].Id)
				<tr>
					<td>
						@Html.EditorFor(model => model.UserAnswers[i])
					</td>
					<td>
						@Html.DisplayFor(model => model.Answers[i].Content)
					</td>
				</tr>
			}
		</table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dalej" class="btn btn-default" />
            </div>
        </div>
    </div>
}
