﻿@using Microsoft.AspNet.Identity;
@model SystemEgzaminacyjny.Service.ViewModels.Exam.ExamListViewModel

@{
	var removeOptions = new AjaxOptions
	{
		HttpMethod = "post",
		OnSuccess = "removeObject"
	}; 
	
	var enrollOptions = new AjaxOptions
	{
		HttpMethod = "post",
		OnSuccess = "toggleEnroll"
	}; 
}

<h2>@Html.MvcSiteMap().SiteMapTitle()</h2>

@if(User.IsInRole("admin"))
{
    @Html.ActionLink("Dodaj nowy", "Create", null, new { @class = "btn btn-success" })
}

<table class="table">
    <tr>
        <th>Id</th>
		<th>Temat</th>
		<th>Czas trwania</th>
		<th></th>
    </tr>

@foreach (var item in Model.List) {
    <tr>
		<td>
			@Html.DisplayFor(model => item.Id)
		</td>
		<td>
			@Html.DisplayFor(model => item.Topic)
		</td>
		<td>
			@Html.DisplayFor(model => item.Duration) min
		</td>
		<td class="text-nowrap">
			@if(User.IsInRole("admin"))
			{
				@Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
				@Html.ActionLink("Pytania", "List", "Question", new { examId = item.Id }, new { @class = "btn btn-default" })
				@using (Ajax.BeginForm("Delete", new { id = item.Id }, removeOptions, new { style = "display: inline;" }))
				{
					<button class="btn btn-danger" data-toggle="confirmation" data-title="Czy napewno chcesz usunąć egzamin i wszystkie jego komponenty?"
							data-btn-ok-class="btn-sm btn-danger" data-btn-ok-label="Tak" data-btn-cancel-class="btn-sm btn-default" data-btn-cancel-label="Nie" data-singleton="true" data-popout="true">
						Usuń
					</button>
				}
				@Html.ActionLink("Zapisy", "List", "Enrollment", new { examId = item.Id }, new { @class = "btn btn-success" })
				@Html.ActionLink("Rozpocznij egzamin", "StartExam", new { id = item.Id }, new { @class = "btn btn-success" })
			}
			@using (Ajax.BeginForm("Create", "Enrollment", new { examId = item.Id }, enrollOptions, new { @class = "enrollForm", examid = @item.Id, style = "display: inline;" }))
			{
				if(item.Enrollments.Count == 0 || !(item.IsUserEnrolled))
				{
					<button class="btn btn-success">
						Zapisz się
					</button>
				}
				else
				{
					<button class="btn btn-warning">
						Wypisz się
					</button>
				}
			}
		</td>
    </tr>
}

</table>
